body {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  color: white;
  width: 600px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;


  .left-content {
    align-items: center;
    color: white;
    order: 1;

      ul {
          padding: 10px;
          align-items: center;
          justify-content: center;

        li{
          list-style-type: none;
          align-items: center;

          font-size: 3em;
        }
      }
  }


  .right-content {
    align-items: center;
    color: white;
    order: 3;

      ul {
          padding: 10px;
          align-items: center;
          justify-content: center;

        li{
          list-style-type: none;
          align-items: center;

          font-size: 3em;
        }
      }
  }

  .center-content {
    display: flex;
    flex-wrap: wrap;
    order: 2;
    align-items: center;
    justify-content: center;
    flex: 5;
    min-width: 500px;
  }
}

img {
  max-width: 32%;
  justify-content: space-between;
  margin: .5%;
}
